<%- include("./includes/header.ejs", {title: title}); %>

    <h1><%= title %></h1>
    <a href="/"><u>Home</u></a>
    <p align="center" style="font-size:20px" ><b><u>About Us</u></b></p>

    <p>
        We hope to give our users unlimited access to information about TV Shows, Movies, and Actors.
    </p>

    <br />

    <p>
        This website was made possible by the hard work and dedication of our founder, Adam May.
    </p>

    <br />

    <h3> <b>ER Diagram</b></h3>
    <img src="/images/ER-Diagram.png" height="550" width="789" />

    <br />
    <h3> <b>Relational Schema</b></h3>
    <img src="/images/Relational-Schema.png" height="550" width="789" />

    <br />
    <h3> <b>Functional Dependencies</b></h3>
    <img src="/images/Functional-Dependencies.png" height="550" width="789" />


    <br />
<%- include("./includes/footer.ejs"); %>
