<%- include("./includes/header.ejs", {title: title}); %>

    <h1><%= title %></h1>
    <p>Welcomes to <%= title %></p>

    <a href="/movies/home">Movies - View Details</a> &ndash; View movie page
    <br />
    <a href="/shows/home">TV Shows - View Details</a> &ndash; View shows page
    <br />
    <a href="/actors/home">Actors - View Details</a> &ndash; View actors page
    <br />
    <a href="/accounts/home">Accounts - View Details</a> &ndash; View accounts page
    <br />
    <a href="/about">About Us</a>
    <br />
<%- include("./includes/footer.ejs"); %>
