<%- include("../includes/header.ejs", {title:"Add New Account"}); %>
    <h1>Add New Account</h1>
    <form action="/accounts/insert" method="post">
        <br />
        email: <input id="email" name="email" type="text" />
        <br />
        username: <input id="username" name="username" type="text" />
        <br />
        First Name: <input id="fname" name="fname" type="text" />
        <br />
        Last Name: <input id="lname" name="lname" type="text" />
        <br />
        Movies Watched:
        <select id="Movie_ID" name="Movie_ID" multiple="multiple">
            <% for(var i=0; Movies.length > i; i++ ) { %>
            <option value="<%= Movies[i].Movie_ID %>"> <%= Movies[i].Movie_Title %></option>
            <% } %>
        </select>

        <!-- Initialize the multiselect plugin: -->
        <script type="text/javascript">
            $(document).ready(function() {
                $('#Movie_ID').multiselect();
            });
        </script>

        <br />
        TV Shows Watched:
        <select id="Show_ID" name="Show_ID" multiple="multiple">
            <% for(var i=0; Shows.length > i; i++ ) { %>
            <option value="<%= Shows[i].Show_ID %>"> <%= Shows[i].Show_Title %></option>
            <% } %>
        </select>

        <!-- Initialize the multiselect plugin: -->
        <script type="text/javascript">
            $(document).ready(function() {
                $('#Show_ID').multiselect();
            });
        </script>

        <br />
        <br />
        <input type="submit" />

    </form>
<%- include("../includes/footer.ejs"); %>