<%- include("../includes/header.ejs", {title:"Accounts - View All"}); %>

<h1>Accounts</h1>

<% if(locals.was_successful) { %>
<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
        <%= newa.username  %> was successfully added. %>
    </div>
</div>
<% }%>


<nav>
    <ul>
        <li><a href="/"><u>Home</u></a></li>
        <br />
        <li><a href="/movies/home">Movie Home</a></li>
        <li><a href="/shows/home">TV Shows Home</a></li>
        <li><a href="/actors/home">Actors Home</a></li>
        <li><a href="/accounts/home">Accounts Home</a></li>
    </ul>
</nav>
<article>
<a href="/accounts/add">Add New Account</a> <br />

        <br />

        <table border="1">
            <tr><th>Username</th><th>Actions</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><a href="/accounts/?email=<%= result[i].email %>"><%= result[i].username %></a></td>
                <td>
                    <!-- <button onclick="event.preventDefault();window.location.href='/accounts/edit/?email='">Edit</button> -->
                    <form action="/accounts/delete/" style="display:inline;">
                        <input type="hidden" name="username" id="username" value="<%= result[i].username %>" />
                        <input type="submit" value="Delete"/>
                    </form>

                </td>
            </tr>
            <% } %>
        </table>
</article>
<%- include("../includes/footer.ejs"); %>