<%- include("../includes/header.ejs", {title:"Account - " + account.username }); %>
    <h1>Accounts</h1>
    <ul>
        <li>Username: <%= account.username %></li>
        <li>Email: <%= account.email %></li>
        <li>Name: <%= account.fname + ' ' + account.lname %></li>

        <li>Movies Watched:
            <ul>
                <% if( movies_watched.length != 0 ) {

                for(var h=0; movies_watched.length > h; h++ ) { %>


                <li> <a href="/movies/?Movie_ID=<%= movies_watched[h].Movie_ID %>"><%= movies_watched[h].Movie_Title %> </a>
                        - Rating: <%= movies_watched[h].Rating %>/10</li> <% } %>


                <% }
                else { %>
                    <li>None</li> <% } %>

            </ul>
        </li>
        <li>TV Shows Watched:
            <ul>

                <% if( tv_shows_watched.length != 0 ) {

                for(var i=0; tv_shows_watched.length > i; i++ ) { %>
                <li> <a href="/shows/?Show_ID=<%= tv_shows_watched[i].Show_ID %>"><%= tv_shows_watched[i].Show_Title  %> </a>
                        - Rating: <%= tv_shows_watched[i].Rating %>/10  </li> <% } %>


                <% }
                else { %>
                <li>None</li> <% } %>


            </ul>
        </li>

        <li>Movies on Watchlist:
            <ul>
                <% if( movies_on_watchlist.length != 0 ) {

                for(var j=0; movies_on_watchlist.length > j; j++ ) { %>


                <li> <a href="/movies/?Movie_ID=<%= movies_on_watchlist[j].Movie_ID %>"><%= movies_on_watchlist[j].Movie_Title  %> </a> </li> <% } %>


                <% }
                else { %>
                <li>None</li> <% } %>

            </ul>
        </li>

        <li>TV Shows on Watchlist:
            <ul>
                <% if( tv_shows_on_watchlist.length != 0 ) {

                for(var k=0; tv_shows_on_watchlist.length > k; k++ ) { %>


                <li> <a href="/shows/?Show_ID=<%= tv_shows_on_watchlist[k].Show_ID %>"><%= tv_shows_on_watchlist[k].Show_Title  %> </a> </li> <% } %>


                <% }
                else { %>
                <li>None</li> <% } %>

            </ul>
        </li>
    </ul>

<a href="/actors/home"><< back</a>

<%- include("../includes/footer.ejs"); %>