<%- include("../includes/header.ejs", {title:"Accounts - Home"}); %>

<h1>Accounts</h1>
<nav>
    <ul>
        <li><a href="/"><u>Home</u></a></li>
        <br />
        <li><a href="/movies/home">Movie Home</a></li>
        <li><a href="/shows/home">TV Show Home</a></li>
        <li><a href="/actors/home">Actor Home</a></li>
        <li><a href="/accounts/home">Account Home</a></li>
    </ul>
</nav>
<article>
<a href="/accounts/add">Add New Account</a> <br />

    <br />

    <a href="/accounts/all">View All Accounts</a>

    <br />

    <form action="/accounts/search" method="get">
        <br />
        Search Accounts <input id="accounts_search" name="accounts_search" type="text" />
        <input type="submit" />
    </form>

</article>
<%- include("../includes/footer.ejs"); %>