<%- include("../includes/header.ejs", {title:"Actors - Search Results"}); %>

<h1>Accounts</h1>
<nav>
    <ul>
        <li><a href="/"><u>Home</u></a></li>
        <br />
        <li><a href="/movies/home">Movie Home</a></li>
        <li><a href="/shows/home">Shows Home</a></li>
        <li><a href="/actors/home">Actors Home</a></li>
        <li><a href="/accounts/home">Accounts Home</a></li>
        <li><a href="/resume/all">Resumes</a></li>
    </ul>
</nav>
<article>

    <b>Showing '<%= search.accounts_search %>' Accounts - <%= result.length %> found</b>
    <br />

    <% if( result.length == 0 ) { %>
        <br />
        No accounts found
    <% }

    else  { %>

        <table border="1">
            <tr><th>Username</th><th>Actions</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><a href="/accounts/?email=<%= result[i].email %>"><%= result[i].username %></a></td>
                <td>
                    <!-- <button onclick="event.preventDefault();window.location.href='/accounts/edit/?username=">Edit</button> -->
                    <form action="/accounts/delete/" style="display:inline;">
                        <input type="hidden" name="username" id="username" value="<%= result[i].username %>" />
                        <input type="submit" value="Delete"/>
                    </form>

                </td>
            </tr>
            <% } %>
        </table>

    <% } %>
</article>
<%- include("../includes/footer.ejs"); %>