<%- include("../includes/header.ejs", {title:"Add New Show"}); %>
    <h1>Add Actors to <%= Show_Title %></h1>
    <form action="/shows/insertAct" method="post">
        <br />
        <b>Enter character name each actor played</b>
        <br />
        <br />

        <input type="hidden" id="Show_ID" name="Show_ID" value="<%= Show_ID %>">
        <input type="hidden" id="Show_Title" name="Show_Title" value="<%= Show_Title %>">
        <input type="hidden" id="Actor_ID" name="Actor_ID" value="<%= Actor_ID %>">

        <% for(var i=0; actors.length > i; i++ ) { %>
            <%= actors[i].fname + ' ' + actors[i].lname %> played as
            <input id="Character_Name" name="Character_Name" type="text" />
            <br />
        <% } %>



        <br />
        <br />
        <input type="submit" />

    </form>
<%- include("../includes/footer.ejs"); %>