<%- include("../includes/header.ejs", {title:"TV Shows - View All"}); %>

<h1>Actors</h1>

<% if(locals.was_successful) { %>
<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
        <%= newa.fname + ' ' + newa.lname %> was successfully added. %>
    </div>
</div>
<% }%>


<nav>
    <ul>
        <li><a href="/"><u>Home</u></a></li>
        <br />
        <li><a href="/movies/home">Movie Home</a></li>
        <li><a href="/shows/home">TV Shows Home</a></li>
        <li><a href="/actors/home">Actors Home</a></li>
        <li><a href="/accounts/home">Account Home</a></li>
    </ul>
</nav>
<article>
<a href="/actors/add">Add New Actor</a> <br />

        <br />

        <table border="1">
            <tr><th>Name</th><th>Actions</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><a href="/actors/?Actor_ID=<%= result[i].Actor_ID %>"><%= result[i].fname + ' ' + result[i].lname %></a></td>
                <td>
                    <!-- <button onclick="event.preventDefault();window.location.href='/actors/edit/?Actor_ID='">Edit</button> -->
                    <form action="/actors/delete/" style="display:inline;">
                        <input type="hidden" name="Actor_ID" id="Actor_ID" value="<%= result[i].Actor_ID %>" />
                        <input type="submit" value="Delete"/>
                    </form>

                </td>
            </tr>
            <% } %>
        </table>
</article>
<%- include("../includes/footer.ejs"); %>