<%- include("../includes/header.ejs", {title:"Actors - Home"}); %>

<h1>Actors</h1>
<nav>
    <ul>
        <li><a href="/"><u>Home</u></a></li>
        <br />
        <li><a href="/movies/home">Movie Home</a></li>
        <li><a href="/shows/home">TV Show Home</a></li>
        <li><a href="/actors/home">Actor Home</a></li>
        <li><a href="/accounts/home">Account Home</a></li>
    </ul>
</nav>
<article>
<a href="/actors/add">Add New Actor</a> <br />

    <br />

    <a href="/actors/all">View All Actors</a>

    <br />

    <form action="/actors/search" method="get">
        <br />
        Search Actors <input id="actor_search" name="actor_search" type="text" />
        <input type="submit" />
    </form>

</article>
<%- include("../includes/footer.ejs"); %>