<%- include("../includes/header.ejs", {title:"Add New Movie"}); %>
    <h1>Add New Actor</h1>
    <form action="/actors/insert" method="post">
        <br />
        First Name: <input id="fname" name="fname" type="text" />
        <br />
        Last Name: <input id="lname" name="lname" type="text" />
        <br />
        Date of Birth: <input id="DOB" name="DOB" type="date" />
        <br />
        Gender:
        <select id="gender" name="gender" >
            <% for( var j = 0; j < gender.length; j++ ) { %>
                <option value=" <%= j %>"> <%= gender[j] %></option>
            <% } %>
        </select>
        <br />


        <br />
        <br />
        <input type="submit" />

    </form>
<%- include("../includes/footer.ejs"); %>