<%- include("../includes/header.ejs", {title:"Actors - " + actor.fname + actor.lname}); %>
    <h1>Actors</h1>
    <ul>
        <li>Name: <%= actor.fname + ' ' + actor.lname %></li>
        <li>Date of Birth: <%= actor.DOB %></li>
        <li>
            Gender:
            <% if( actor.gender == 0 ) { %>
                Female
            <% }
            else { %>
                Male
            <% } %>
        </li>
        <li>Movies Starred In:
            <ul>
                <% if( movies.length != 0 ) {

                for(var i=0; movies.length > i; i++ ) { %>


                <li> <a href="/movies/?Movie_ID=<%= movies[i].Movie_ID %>"><%= movies[i].Movie_Title  %> </a> playing <b><%=movies[i].Character_Name %></b> </li> <% } %>


                <% }
                else { %>
                    <li>None</li> <% } %>

            </ul>
        </li>
        <li>TV Shows Starred In:
            <ul>

                <% if( shows.length != 0 ) {

                for(var j=0; shows.length > j; j++ ) { %>
                <li> <a href="/shows/?Show_ID=<%= shows[j].Show_ID %>"><%= shows[j].Show_Title  %> </a> playing <b><%=shows[j].Character_Name %></b> </li> <% } %>


                <% }
                else { %>
                <li>None</li> <% } %>


            </ul>
        </li>
    </ul>

<a href="/actors/home"><< back</a>

<%- include("../includes/footer.ejs"); %>