<%- include("../includes/header.ejs", {title:"Actors - Search Results"}); %>

<h1>Actors</h1>
<nav>
    <ul>
        <li><a href="/"><u>Home</u></a></li>
        <br />
        <li><a href="/movies/home">Movie Home</a></li>
        <li><a href="/shows/home">Shows Home</a></li>
        <li><a href="/actors/home">Actors Home</a></li>
        <li><a href="/skill/all">Skills</a></li>
        <li><a href="/resume/all">Resumes</a></li>
    </ul>
</nav>
<article>

    <b>Showing '<%= search.actor_search %>' Actors - <%= result.length %> found</b>
    <br />

    <% if( result.length == 0 ) { %>
        <br />
        No actors found
    <% }

    else  { %>

        <table border="1">
            <tr><th>Name</th><th>Actions</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><a href="/actors/?Actor_ID=<%= result[i].Actor_ID %>"><%= result[i].fname + ' ' + result[i].lname %></a></td>
                <td>
                    <!-- <button onclick="event.preventDefault();window.location.href='/actors/edit/?Actor_ID=<%= result[i].Actor_ID %>'">Edit</button> -->
                    <form action="/actors/delete/" style="display:inline;">
                        <input type="hidden" name="Actor_ID" id="Actor_ID" value="<%= result[i].Actor_ID %>" />
                        <input type="submit" value="Delete"/>
                    </form>

                </td>
            </tr>
            <% } %>
        </table>

    <% } %>
</article>
<%- include("../includes/footer.ejs"); %>