<%- include("../includes/header.ejs", {title:"Add New Actors"}); %>
    <h1>Add New Actors</h1>
    <form action="/movies/moviesSelectActor" method="post">
        <br />
        <input type="hidden" name="Movie_ID" id="Movie_ID" value="<%= Movie_ID %>" />
        <input type="hidden" name="Movie_Title" id="Movie_Title" value="<%= Movie_Title %>" />

        Actors:
        <select id="Actor_ID" name="Actor_ID" multiple="multiple">
            <% for(var i=0; actors.length > i; i++ ) { %>
            <option value="<%= actors[i].Actor_ID %>"><%= actors[i].fname + ' ' + actors[i].lname %></option>
            <% } %>
        </select>

        <!-- Initialize the multiselect plugin: -->
        <script type="text/javascript">
            $(document).ready(function() {
                $('#Actor_ID').multiselect();
            });
        </script>


        <br />
        <br />
        <input type="submit" />

    </form>
<%- include("../includes/footer.ejs"); %>