<%- include("../includes/header.ejs", {title:"Add New Movie"}); %>
    <h1>Add New Movie</h1>
    <form action="/movies/insert" method="post">
        <br />
        Movie Title: <input id="Movie_Title" name="Movie_Title" type="text" />
        <br />
        Date Released (YYYY-MM-DD): <input id="Date_Released" name="Date_Released" type="date" />
        <br />
        Runtime (minutes): <input id="Runtime" name="Runtime" type="number" />

        <br />
        Rating:
        <select id="MPAA_Rating" name="MPAA_Rating" >
            <% for(var i=0; ratings.length > i; i++ ) { %>
                <option value="<%= ratings[i] %>"><%= ratings[i] %></option>
            <% } %>
        </select>

        <br />
        <br />
        Actors:
        <select id="Actor_ID" name="Actor_ID" multiple="multiple">
            <% for(var i=0; actors.length > i; i++ ) { %>
            <option value="<%= actors[i].Actor_ID %>"><%= actors[i].fname + ' ' + actors[i].lname %></option>
            <% } %>
        </select>

        <!-- Initialize the multiselect plugin: -->
        <script type="text/javascript">
            $(document).ready(function() {
                $('#Actor_ID').multiselect();
            });
        </script>


        <br />
        <br />
        <input type="submit" />

    </form>
<%- include("../includes/footer.ejs"); %>