<%- include("../includes/header.ejs", {title:"Movies - View All"}); %>

<h1>Movies</h1>
<nav>
    <ul>
        <li><a href="/"><u>Home</u></a></li>
        <br />
        <li><a href="/movies/home">Movie Home</a></li>
        <li><a href="/shows/home">TV Show Home</a></li>
        <li><a href="/actors/home">Actor Home</a></li>
        <li><a href="/accounts/home">Account Home</a></li>
    </ul>
</nav>
<article>
<a href="/movies/add">Add New Movie</a> <br />

    <br />

    <a href="/movies/all">View All Movies</a>

    <br />

    <form action="/movies/search" method="get">
        <br />
        Search Movies <input id="movie_search" name="movie_search" type="text" />
        <input type="submit" />
    </form>


    <br />
    <a href="/movies/top10">Top 10 Movies</a>

    <form action="/movies/avgscore" method="get">
        <br />
        Show movies with an average score greater than <input id="rating" name="rating" type="text" />
        <input type="submit" />
    </form>

</article>
<%- include("../includes/footer.ejs"); %>