<%- include("../includes/header.ejs", {title:"Movies - View All"}); %>

<h1>Movies</h1>
<nav>
    <ul>
        <li><a href="/"><u>Home</u></a></li>
        <br />
        <li><a href="/movies/home">Movie Home</a></li>
        <li><a href="/shows/home">TV Shows Home</a></li>
        <li><a href="/actors/home">Actor Home</a></li>
        <li><a href="/accounts/home">Account Home</a></li>
    </ul>
</nav>
<article>

    <b>Showing '<%= search.movie_search %>' movies - <%= result.length %> found</b>
    <br />

    <% if( result.length == 0 ) { %>
        <br />
        No movies found
    <% }

    else  { %>

        <table border="1">
            <tr><th>Title</th><th>Actions</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><a href="/movies/?Movie_ID=<%= result[i].Movie_ID %>"><%= result[i].Movie_Title %></a></td>
                <td>
                    <!-- <button onclick="event.preventDefault();window.location.href='/movies/edit/?Movie_ID='">Edit</button> -->
                    <form action="/movies/delete/" style="display:inline;">
                        <input type="hidden" name="Movie_ID" id="Movie_ID" value="<%= result[i].Movie_ID %>" />
                        <input type="submit" value="Delete"/>
                    </form>

                </td>
            </tr>
            <% } %>
        </table>

    <% } %>
</article>
<%- include("../includes/footer.ejs"); %>