<%- include("../includes/header.ejs", {title:"Add New Movie"}); %>
    <h1>Add Actors to <%= Movie_Title %></h1>
    <form action="/movies/insertAct" method="post">
        <br />
        <b>Enter character name each actor played</b>
        <br />
        <br />

        <input type="hidden" id="Movie_ID" name="Movie_ID" value="<%= Movie_ID %>">
        <input type="hidden" id="Movie_Title" name="Movie_Title" value="<%= Movie_Title %>">
        <input type="hidden" id="Actor_ID" name="Actor_ID" value="<%= Actor_ID %>">

        <% for(var i=0; actors.length > i; i++ ) { %>
            <%= actors[i].fname + ' ' + actors[i].lname %> played as
            <input id="Character_Name" name="Character_Name" type="text" />
            <br />
        <% } %>



        <br />
        <br />
        <input type="submit" />

    </form>
<%- include("../includes/footer.ejs"); %>