<%- include("../includes/header.ejs", {title:"Movies - " + result[0].Movie_Title}); %>
    <h1>Movies</h1>
    <ul>
        <li>Movie Title: <%= result[0].Movie_Title %></li>
        <li>Date Released: <%= result[0].Date_Released %></li>
        <li>Runtime: <%= result[0].Runtime %> minutes</li>
        <li>MPAA Rating: <%= result[0].MPAA_Rating %></li>
        <li>Actor(s): <a href="/movies/moviesAddActor/?Movie_ID=<%=Movie_ID%>&Movie_Title=<%=result[0].Movie_Title%>">Add Actors</a>
            <ul>
                <% for(var i=0; result.length > i; i++ ) { %>

                <% if( result[i].Actor_ID != null ) { %>
                <li> <a href="/actors/?Actor_ID=<%= result[i].Actor_ID %>"><%= result[i].fname %> <%=result[i].lname%></a> playing <b><%=result[i].Character_Name %></b>
                    <form action="/movies/deleteA/" style="display:inline;">
                    <input type="hidden" name="Actor_ID" id="Actor_ID" value="<%= result[i].Actor_ID %>" />
                        <input type="hidden" name="Movie_ID" id="Movie_ID" value="<%= Movie_ID %>" />
                    <input type="submit" value="Delete"/>
                    </form>
                </li> <% }

                else { %>
                    <li>None</li> <% } %>

                <% } %>
            </ul>
        </li>
    </ul>

<a href="/movies/home"><< back</a>

<%- include("../includes/footer.ejs"); %>