<%- include("../includes/header.ejs", {title:"TV Shows - View All"}); %>

<h1>TV Shows</h1>
<nav>
    <ul>
        <li><a href="/"><u>Home</u></a></li>
        <br />
        <li><a href="/movies/home">Movie Home</a></li>
        <li><a href="/shows/home">Shows Home</a></li>
        <li><a href="/address/all">Addresses</a></li>
        <li><a href="/skill/all">Skills</a></li>
        <li><a href="/resume/all">Resumes</a></li>
    </ul>
</nav>
<article>

    <b>Showing '<%= search.show_search %>' TV Shows - <%= result.length %> found</b>
    <br />

    <% if( result.length == 0 ) { %>
        <br />
        No shows found
    <% }

    else  { %>

        <table border="1">
            <tr><th>Title</th><th>Actions</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><a href="/shows/?Show_ID=<%= result[i].Show_ID %>"><%= result[i].Show_Title %></a></td>
                <td>
                    <!-- <button onclick="event.preventDefault();window.location.href='/shows/edit/?Show_ID='">Edit</button> -->
                    <form action="/shows/delete/" style="display:inline;">
                        <input type="hidden" name="Show_ID" id="Show_ID" value="<%= result[i].Show_ID %>" />
                        <input type="submit" value="Delete"/>
                    </form>

                </td>
            </tr>
            <% } %>
        </table>

    <% } %>
</article>
<%- include("../includes/footer.ejs"); %>