<%- include("../includes/header.ejs", {title:"TV Shows - View All"}); %>

<h1>TV Shows</h1>
<nav>
    <ul>
        <li><a href="/"><u>Home</u></a></li>
        <br />
        <li><a href="/movies/home">Movie Home</a></li>
        <li><a href="/shows/home">TV Show Home</a></li>
        <li><a href="/actors/home">Actor Home</a></li>
        <li><a href="/accounts/home">Account Home</a></li>
    </ul>
</nav>
<article>
<a href="/shows/add">Add New Show</a> <br />

    <br />

    <a href="/shows/all">View All Shows</a>

    <br />

    <form action="/shows/search" method="get">
        <br />
        Search Shows <input id="show_search" name="show_search" type="text" />
        <input type="submit" />
    </form>

    <br />
    <a href="/shows/top10">Top 10 Shows</a>

    <form action="/shows/avgscore" method="get">
        <br />
        Show TV Shows with an average score greater than <input id="rating" name="rating" type="text" />
        <input type="submit" />
    </form>

</article>
<%- include("../includes/footer.ejs"); %>