<%- include("../includes/header.ejs", {title:"TV Shows - View All"}); %>

<h1>TV Shows</h1>

<% if(locals.was_successful) { %>
<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
        <%= newm %> was successfully added. %>
    </div>
</div>
<% }%>


<nav>
    <ul>
        <li><a href="/"><u>Home</u></a></li>
        <br />
        <li><a href="/movies/home">Movie Home</a></li>
        <li><a href="/shows/home">TV Shows Home</a></li>
        <li><a href="/actors/home">Actors Home</a></li>
        <li><a href="/accounts/home">Skills</a></li>
    </ul>
</nav>
<article>
<a href="/shows/add">Add New Show</a> <br />

        <br />

        <table border="1">
            <tr><th>Title</th><th>Actions</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><a href="/shows/?Show_ID=<%= result[i].Show_ID %>"><%= result[i].Show_Title %></a></td>
                <td>
                    <!-- <button onclick="event.preventDefault();window.location.href='/shows/edit/?Show_ID='">Edit</button> -->
                    <form action="/shows/delete/" style="display:inline;">
                        <input type="hidden" name="Show_ID" id="Show_ID" value="<%= result[i].Show_ID %>" />
                        <input type="submit" value="Delete"/>
                    </form>

                </td>
            </tr>
            <% } %>
        </table>
</article>
<%- include("../includes/footer.ejs"); %>