<%- include("../includes/header.ejs", {title:"Add New Movie"}); %>
    <h1>Add New Show</h1>
    <form action="/shows/insert" method="post">
        <br />
        Show Title: <input id="Show_Title" name="Show_Title" type="text" />
        <br />
        Currently Airing?
        <select id="Currently_Airing" name="Currently_Airing" >
            <% for( var j = 0; j < airing.length; j++ ) { %>
                <option value" <%= j %>"> <%= airing[j] %></option>
            <% } %>
        </select>
        <br />
        Year Start: <input id="Year_Start" name="Year_Start" type="number" />
        <br />
        Year End: <input id="Year_End" name="Year_End" type="number" />
        <br />
        Number of Episodes: <input id="Num_Episodes" name="Num_Episodes" type="number" />

        <br />
        <br />
        Actors:
        <select id="Actor_ID" name="Actor_ID" multiple="multiple">
            <% for(var i=0; actors.length > i; i++ ) { %>
            <option value="<%= actors[i].Actor_ID %>"><%= actors[i].fname + ' ' + actors[i].lname %></option>
            <% } %>
        </select>

        <!-- Initialize the multiselect plugin: -->
        <script type="text/javascript">
            $(document).ready(function() {
                $('#Actor_ID').multiselect();
            });
        </script>


        <br />
        <br />
        <input type="submit" />

    </form>
<%- include("../includes/footer.ejs"); %>