<%- include("../includes/header.ejs", {title:"Movies - View All"}); %>

<h1>Top Shows</h1>


<nav>
    <ul>
        <li><a href="/"><u>Home</u></a></li>
        <br />
        <li><a href="/movies/home">Movie Home</a></li>
        <li><a href="/shows/home">TV Shows Home</a></li>
        <li><a href="/actors/home">Actors Home</a></li>
        <li><a href="/accounts/home">Account Home</a></li>
    </ul>
</nav>
<article>

        <br />

        <table border="1">
            <tr><th align="center">#</th><th>Title</th><th>Average Rating</th><th>Actions</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td align="center"> <%= i+1 %></td>
                <td><a href="/shows/?Show_ID=<%= result[i].Show_ID %>"><%= result[i].Show_Title %></a></td>
                <td align="center"> <%= result[i].Average_Rating %></td>
                <td>
                    <!-- <button onclick="event.preventDefault();window.location.href='/shows/edit/?Movie_ID='">Edit</button> -->
                    <form action="/shows/delete/" style="display:inline;">
                        <input type="hidden" name="Show_ID" id="Show_ID" value="<%= result[i].Show_ID %>" />
                        <input type="submit" value="Delete"/>
                    </form>

                </td>
            </tr>
            <% } %>
        </table>
</article>
<%- include("../includes/footer.ejs"); %>