<%- include("../includes/header.ejs", {title:"TV Shows - " + result[0].Movie_Title}); %>
    <h1>TV Shows</h1>
    <ul>
        <li>Show Title: <%= result[0].Show_Title %></li>
        <li>
            Currently Airing:
            <% if( result[0].Currently_Airing == 0 ) { %>
                No
            <% }
            else { %>
                Yes
            <% } %>
        </li>
        <li>Starting Year: <%= result[0].Year_Start %> </li>
        <li>Ending Year: <%= result[0].Year_End %></li>
        <li>Actor(s):
            <ul>
                <% for(var i=0; result.length > i; i++ ) { %>

                <% if( result[i].Actor_ID != null ) { %>
                <li> <a href="/actors/?Actor_ID=<%= result[i].Actor_ID %>"><%= result[i].fname %> <%=result[i].lname%></a> playing <b><%=result[i].Character_Name %></b> </li> <% }
                else { %>
                    <li>None</li> <% } %>

                <% } %>
            </ul>
        </li>
    </ul>

<a href="/shows/home"><< back</a>

<%- include("../includes/footer.ejs"); %>